.CFUserTextEncoding
.DS_Store
.Trash/
.asdf/
.aws-sam/
.aws/
.azure/
.bundle/
.cache/
.cargo/
.cmake/
.config/configstore/
.config/gh/
.config/iterm2/
.cups/
.docker/
.gem/
.irb_history
.kube/
.lesshst
.local/
.netrc
.npm/
.profile
.pry.d/
.psql_history
.rbenv/
.rustup/
.skim/
.ssh/
.tldrc/
.vim/
.viminfo
.vscode/
.wdc/
.yarnrc
.z
.z.*
.z-*
.zcompdump
.zprofile.macports-saved_2022-05-31_at_01:40:23
.zsh_history
.zsh_sessions/
.zshenv
Applications/
Creative?Cloud?Files/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
bin/alert
bin/blanklines
bin/reset_dbs
bin/rm_pg_pid
proj/
ruby/
sftp-dest/
work/
Brewfile.lock.json
.config/exercism/
.sem.yaml
tmp/
notes/
.solargraph
.gnupg
.doppler
tmux-*.log
productivity/
.guard_history
.node-gyp/
.zcompcache/
Calibre Library/
getting-started/
notes
.wget-hsts
Calibre Library/
home/
.config/qBittorrent
.colima/
.sqlite_history
go/
yt-audio/
backup.notes/
notes.old/
.aspnet
.config/yt-dlp/
