.CFUserTextEncoding
.DS_Store
.Trash/
.asdf/
.aws-sam/
.aws/
.azure/
.bundle/
.cache/
.cargo/
.cmake/
.config/configstore/
.config/gh/
.config/iterm2/
.cups/
.docker/
.gem/
.irb_history
.kube/
.lesshst
.local/
.netrc
.npm/
.profile
.pry.d/
.psql_history
.rbenv/
.rustup/
.skim/
.ssh/
.tldrc/
.vim/
.viminfo
.vscode/
.wdc/
.yarnrc
.z
.z.11076
.z.14201
.z.15290
.z.1563
.z.16587
.z.22901
.z.24164
.z.26258
.z.28699
.z.31839
.z.32392
.z.4285
.z.5085
.z.7963
.z.8472
.z.9078
.z.9771
.zcompdump
.zprofile.macports-saved_2022-05-31_at_01:40:23
.zsh_history
.zsh_sessions/
.zshenv
Applications/
Creative?Cloud?Files/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
bin/alert
bin/blanklines
bin/h
bin/reset_dbs
bin/rm_pg_pid
bin/skf
hiiro/
proj/
ruby/
sftp-dest/
work/
